/* .article__section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding: 4rem 6rem 6rem;
}

.article__subtitle {
  margin-top: 2rem;
}

.article__container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.article__content__container {
  border: 2px solid rgb(150, 150, 150);
  border-radius: 1.5rem;
  width: 400px;
  margin-bottom: 2rem;
  overflow: hidden;
}

.article__content__container:hover {
  background-color: rgb(230, 230, 230);
}

.article__thumbnail__container {
  width: 100%;
  height: 250px;
}

.article__thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article__content__title {
  margin-top: 1rem;
  padding: 0 1rem;
}

.article__content__text {
  margin-top: 1rem;
  padding: 0 1rem;
  font-size: 1rem;
  color: rgb(60, 60, 60);
}

.read__more__button {
  color: #3b3bff;
  font-size: 15px;
} */
