.services__section {

}

.services__section__title {
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.services__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding:2rem 0;
}

.services__showcase {
  border-radius: 1rem;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.3);
  height: 400px;
  overflow: hidden;
}

.services__showcase:hover {
  background-color: rgb(230, 230, 230);
}

.services__showcase__image__container {
  width: 100%;
  height: 55%;
  overflow: hidden;
  margin-bottom: 1rem;
}

.services__showcase__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.services__showcase__text__container {
  margin-bottom: 2rem;
}

.services__showcase__service__name{
  margin-bottom: 1rem;
}

.services__showcase__button {
  background-color: rgb(178, 249, 254);
  border: 1px solid black;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
}
