.cases__section {

}

.cases__showcase__container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap:3rem;
  border:2px solid black;
}

.case__showcase{
  border-radius: 2rem;
  display: flex;
  overflow: hidden;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.3);
}