.doctor__name{
  text-align: center;
  font-size: 1.75rem;
}

.profile__section {
  padding: 20px 100px 0 100px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
}

.profile__preview {
  width: 30%;
  margin-right: 5rem;
}

.profile__photo {
  width: 100%;
  height: 75%;
  border-radius: 2rem;
  background-image: url("../../../../assets/doctor_0.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.education {
  margin-bottom: 2rem;
}

.major__treatment__list,
.education__list {
  list-style: inside;
}
