.appointment__section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  height: 100vh;
  padding-top: 4rem;
}

@keyframes smile-animation {
  0% {
    background-image: url("../../../assets/appointment_image_1.png");
  }
  20% {
    background-image: url("../../../assets/appointment_image_2.png");
  }
  40% {
    background-image: url("../../../assets/appointment_image_3.png");
  }
  60% {
    background-image: url("../../../assets/appointment_image_4.png");
  }
  80% {
    background-image: url("../../../assets/appointment_image_5.png");
  }
  100% {
    background-image: url("../../../assets/appointment_image_1.png");
  }
}

.image__container {
  border-radius: 50%;
  background-image: url("../../../assets/appointment_image_1.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  width: 200px;
  animation: smile-animation 20s infinite;
  animation-delay: 1s;
}

.appointment__title {
  margin-top: 2rem;
}

.appointment__description {
  margin-top: 2rem;
  line-height: 2.5;
}

.appointment__button {
  margin-top: 2rem;
}
