.appointment__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.appointment__description {
  margin-top: 2rem;
  line-height: 2.5;
}

.appointment__button{
    margin-top: 2rem;
}