.error__page {
  background-color: rgb(230, 230, 230);
  border: 2px solid black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error__title {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.error__title span{
    display: flex;
}

.error__message {
  margin-bottom: 1rem;
}

.back__to__home__button {
  font-size: 16px;
  letter-spacing: 2px;
  color: #000;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  display: flex;
  align-items: center;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.back__to__home__button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

